<header>   
  <div class="top-header">
    <div class="app-header">
      <img src="../../assets/img/icon-app.png" alt="logo">
      <h1 class="app-name">Vétiscore</h1>
    </div>
    <nav class="nav-header">
      <!--à modifier quand on aura le router-->
      <a href="./projet.html">Accueil</a>
      <a href="./login.html">Login</a>
      <a href="./newsletter.html">Newsletter</a>
    </nav>
  </div>
  <form class="form-header">
    <h1 class="header-search_title">Search among<br>tons of clothes !</h1>
    <input type="search" placeholder="Recherche" name="the_search">
    <button type="submit">Go</button>
</form>
</header>
