footer {
    background: #FCFEFF;
    box-shadow: 0 -4px 10px -2px rgba(0, 0, 0, 0.1);
    color: #0c1213;
    display: table;
    padding: 20px 5% 40px 5%;
    text-align: center;
    width: 90%;
}

footer h3 {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    padding: 20px 0;
    text-transform: uppercase;
}

footer .footer-index,
footer .footer-location,
footer .footer-contact,
footer .footer-socials {
    display: inline-block;
    vertical-align: top;
    width: 30%
}

footer .footer-location ul {
    float: right;
    text-align: left;
}

footer .footer-socials {
    display: block;
    margin: auto;
    width: 50%;
}

footer .footer-socials ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer .footer-socials img {
    width: 50px
}

#copyright {
    background: #FCFEFF;
    display: block;
    text-align: center;
    width: 100%;
}


/* RESPONSIVE */


/* < 1024 */

@media only screen and (max-width: 1024px) {
    footer {
        padding: 20px 5% 40px 5%;
        width: 90%
    }
    footer .footer-index,
    footer .footer-location,
    footer .footer-contact,
    footer .footer-socials {
        display: block;
        width: 100%
    }
    footer .footer-location ul {
        float: none;
        text-align: center;
    }
}