<form>
    <div>
      <label for="create[type]">Type : </label>
       <input id="create[type]" name="type">
     </div> 
     <div>
       <label for="create[marque]">Marque : </label>
       <input id="create[marque]" name="marque">
     </div>
     <div>
       <label for="create[lieuFabrication]">Lieu de Fabrication : </label>
       <input id="create[lieuFabrication]" name="lieuFabrication">
     </div>
     <div>
       <label for="create[materiauPrincipal]">Materiau Principal : </label>
       <input id="create[materiauPrincipal]" name="materiauPrincipal">
     </div>
     <div>
       <label for="create[prix]">Prix : </label>
       <select id="create[prix]" name="prix">
         <option value="50€"></option>
         <option value="50-100€"></option>
         <option value="100-200€"></option>
         <option value="200-500€"></option>
         <option value=">500€"></option>
        </select>
     </div>
   
   
   </form>
