app-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(24, 14, 4, 0.712);
    border: 2px grey solid;
    padding: 5px;
    font-family: cursive;
}